<a href="https://colab.research.google.com/github/faranak-jahedi/ML-Projects/blob/main/ML_Lab_Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab 2

    Python practice to help with Assignment 1

### Names : Zahra Jahedibashiz

### Dictionaries

In [ ]:
# create a dictionary to hold the following data :
#
#      Bruce     120
#      Bob       110
#      Cindy     140
#      Cathy     100
name_savings = {"Bruce":120, "Bob":110, "Cindy": 140, "Cathy":100}
print(name_savings)

{'Bruce': 120, 'Bob': 110, 'Cindy': 140, 'Cathy': 100}

In [ ]:
# write a function named average that computes the average of all dictionary values and returns the result
def average(numbers):
  avg = 0
  for i in numbers.values():
    avg = avg + i
  return avg / len(numbers)

print(average(name_savings))

117.5

### List Comprehensions

In [ ]:
#   Replace the following loop using list comprehension
"""
fruits = ['banana', 'pear', 'strawberry', 'apple', 'pineapple', 'orange']

output = []
for fruit in fruits:
    output.append(fruit.upper())
output
"""

fruits = ['banana', 'pear', 'strawberry', 'apple', 'pineapple', 'orange']
output = [x.upper() for x in fruits]
print(output)

['BANANA', 'PEAR', 'STRAWBERRY', 'APPLE', 'PINEAPPLE', 'ORANGE']

In [ ]:
# Using list comprehensions to create a list of fruits with 5 or more characters
fruits = ['banana', 'pear', 'strawberry', 'apple', 'pineapple', 'orange']
output = [x for x in fruits if len(x) >= 5]
print(output)

['banana', 'strawberry', 'apple', 'pineapple', 'orange']

In [ ]:
# Create a list from the elements of a range from 1200 to 2000 with steps of 130, using list comprehension.
# hint : may want to look at the parameters of the range function
numbers = [x for x in range(1200, 2001, 130)]
print(numbers)

[1200, 1330, 1460, 1590, 1720, 1850, 1980]

In [ ]:
# Create a dictionary consisting of vehicles and their weights in kilograms. (You can make #s up)
# Contruct a list of the names of vehicles with weight below 5000 kilograms.
# In the same list comprehension make the key names all upper case.
vehicle_weights = {"Honda":1500, "Toyota": 5678, "BMW": 9087, "Tesla": 50800, "Chevrolet": 450, "Mercedez": 28900}
vehicle_ideal_weight = [key.upper() for key,value in vehicle_weights.items() if value < 5000]
print(vehicle_ideal_weight)

['HONDA', 'CHEVROLET']

### Object Oriented Python
One reference : https://pynative.com/python-classes-and-objects/

In [ ]:
# Write a Rectangle class in Python language, allowing you to build a rectangle with length and width attributes.
#     the length and width attributes should be provided when the rectangle object is created

# Create a Perimeter() method to calculate the perimeter of the rectangle and a Area() method
#     to calculate the area of the rectangle.

# Create a method display() that display the length, width, perimeter and area of a rectangle object

# Provide a string representation of the rectangle variables that gets printed when printing a rectangle object
#     The current behavior of printing a rectangle is like : <__main__.Rectangle object at 0x7fcbb774f9a0>

In [ ]:
#from _typeshed import Self
# Write a Rectangle class in Python language, allowing you to build a rectangle with length and width attributes.
#     the length and width attributes should be provided when the rectangle object is created
class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width

# Create a Perimeter() method to calculate the perimeter of the rectangle and a Area() method
#     to calculate the area of the rectangle.

  def Perimeter(self):
    perimeter = 2 * (self.length + self.width)
    return perimeter

  def Area(self):
    area = self.width * self.length
    return area

# Create a method display() that display the length, width, perimeter and area of a rectangle object

  def display(self):
    print("Rectangle properties:")
    print("Lenght:", self.length)
    print("Width:", self.width)
    print("Perimeter:", self.Perimeter())
    print("Area:", self.Area())

rec = Rectangle(12,25)
rec.display()

# Provide a string representation of the rectangle variables that gets printed when printing a rectangle object
#     The current behavior of printing a rectangle is like : <__main__.Rectangle object at 0x7fcbb774f9a0>

print(rec)

Rectangle properties:
Lenght: 12
Width: 25
Perimeter: 74
Area: 300
<__main__.Rectangle object at 0x79afa2d066b0>

### Reading data files using Pandas, Panda exercises

In [ ]:
# the following code will help us pull data from the NHANES cdc website to our local machine
# feel free to ask questions if you do not understand the code
import os
import tarfile
import urllib

DOWNLOAD_ROOT = "https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/"
LOCAL_DATA_PATH = os.path.join("datasets", "nhanes") + "/"
FILE_NAME = "P_DEMO.XPT"

def fetch_nhanes_data(file_name=FILE_NAME, nhanes_url=DOWNLOAD_ROOT,  nhanes_path=LOCAL_DATA_PATH):
    os.makedirs(nhanes_path, exist_ok=True)
    xpt_path = os.path.join(nhanes_path, file_name)
    url = nhanes_url + file_name
    urllib.request.urlretrieve(url, xpt_path)

In [ ]:
# The default arguments will transfer the demographic data of patients to our local machine
fetch_nhanes_data()

In [ ]:
# The files are in a format that is used by the SAS statistical software program. Fortunately,
# the panda library has routines for reading in data in many different formats, including sas format (.xpt file)
# Specifically, the following command will read the local demographic data into a pandas dataframe:

import pandas as pd
demo_df = pd.read_sas(LOCAL_DATA_PATH + "P_DEMO.XPT")

In [ ]:
print(demo_df)

           SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0      109263.0      66.0       2.0       1.0       2.0       NaN       5.0
1      109264.0      66.0       2.0       2.0      13.0       NaN       1.0
2      109265.0      66.0       2.0       1.0       2.0       NaN       3.0
3      109266.0      66.0       2.0       2.0      29.0       NaN       5.0
4      109267.0      66.0       1.0       2.0      21.0       NaN       2.0
...         ...       ...       ...       ...       ...       ...       ...
15555  124818.0      66.0       2.0       1.0      40.0       NaN       4.0
15556  124819.0      66.0       2.0       1.0       2.0       NaN       4.0
15557  124820.0      66.0       2.0       2.0       7.0       NaN       3.0
15558  124821.0      66.0       2.0       1.0      63.0       NaN       4.0
15559  124822.0      66.0       2.0       1.0      74.0       NaN       2.0

       RIDRETH3  RIDEXMON  DMDBORN4  ...  FIAINTRP  MIALANG  MIAPROXY  \
0           6.0       2.0       1.0  ...       2.0      NaN       NaN
1           1.0       2.0       1.0  ...       2.0      1.0       2.0
2           3.0       2.0       1.0  ...       2.0      NaN       NaN
3           6.0       2.0       2.0  ...       2.0      1.0       2.0
4           2.0       NaN       2.0  ...       2.0      NaN       NaN
...         ...       ...       ...  ...       ...      ...       ...
15555       4.0       1.0       1.0  ...       2.0      1.0       2.0
15556       4.0       2.0       1.0  ...       2.0      NaN       NaN
15557       3.0       2.0       1.0  ...       2.0      NaN       NaN
15558       4.0       1.0       1.0  ...       2.0      1.0       2.0
15559       2.0       2.0       2.0  ...       NaN      2.0       2.0

       MIAINTRP  AIALANGA      WTINTPRP      WTMECPRP  SDMVPSU  SDMVSTRA  \
0           NaN       NaN   7891.762435  8.951816e+03      3.0     156.0
1           2.0       1.0  11689.747264  1.227116e+04      1.0     155.0
2           NaN       NaN  16273.825939  1.665876e+04      1.0     157.0
3           2.0       1.0   7825.646112  8.154968e+03      2.0     168.0
4           NaN       NaN  26379.991724  5.397605e-79      1.0     156.0
...         ...       ...           ...           ...      ...       ...
15555       2.0       1.0  21586.596728  2.166689e+04      1.0     166.0
15556       NaN       NaN   1664.919253  1.838170e+03      2.0     171.0
15557       NaN       NaN  14819.783161  1.649781e+04      1.0     157.0
15558       2.0       1.0   4666.817952  4.853430e+03      1.0     158.0
15559       2.0       NaN  14024.476634  1.519580e+04      1.0     149.0

       INDFMPIR
0          4.66
1          0.83
2          3.06
3          5.00
4          5.00
...         ...
15555      3.82
15556      0.07
15557      1.22
15558      3.71
15559       NaN

[15560 rows x 29 columns]

In [ ]:
# Display the contents of the first 8 rows of demographic data
print(demo_df.head(8))

       SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0  109263.0      66.0       2.0       1.0       2.0       NaN       5.0
1  109264.0      66.0       2.0       2.0      13.0       NaN       1.0
2  109265.0      66.0       2.0       1.0       2.0       NaN       3.0
3  109266.0      66.0       2.0       2.0      29.0       NaN       5.0
4  109267.0      66.0       1.0       2.0      21.0       NaN       2.0
5  109268.0      66.0       1.0       2.0      18.0       NaN       3.0
6  109269.0      66.0       2.0       1.0       2.0       NaN       2.0
7  109270.0      66.0       2.0       2.0      11.0       NaN       4.0

   RIDRETH3  RIDEXMON  DMDBORN4  ...  FIAINTRP  MIALANG  MIAPROXY  MIAINTRP  \
0       6.0       2.0       1.0  ...       2.0      NaN       NaN       NaN
1       1.0       2.0       1.0  ...       2.0      1.0       2.0       2.0
2       3.0       2.0       1.0  ...       2.0      NaN       NaN       NaN
3       6.0       2.0       2.0  ...       2.0      1.0       2.0       2.0
4       2.0       NaN       2.0  ...       2.0      NaN       NaN       NaN
5       3.0       NaN       1.0  ...       2.0      NaN       NaN       NaN
6       2.0       1.0       1.0  ...       2.0      NaN       NaN       NaN
7       4.0       1.0       1.0  ...       2.0      1.0       2.0       2.0

   AIALANGA      WTINTPRP      WTMECPRP  SDMVPSU  SDMVSTRA  INDFMPIR
0       NaN   7891.762435  8.951816e+03      3.0     156.0      4.66
1       1.0  11689.747264  1.227116e+04      1.0     155.0      0.83
2       NaN  16273.825939  1.665876e+04      1.0     157.0      3.06
3       1.0   7825.646112  8.154968e+03      2.0     168.0      5.00
4       NaN  26379.991724  5.397605e-79      1.0     156.0      5.00
5       NaN  19639.221008  5.397605e-79      1.0     155.0      1.66
6       NaN   5906.250521  6.848272e+03      2.0     152.0      0.96
7       NaN   4613.057696  4.886930e+03      1.0     150.0      1.88

[8 rows x 29 columns]

In [ ]:
# Of course, the data represented by these columns are in many cases unclear. Good machine learning always
# starts with understanding the problem domain and understanding the data being used.

# With that in mind,  locate the documentation for the demographic data and describe the data
# in the columns : 'SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1'  Create a markdown cell below
# to provide these definitions.
# Sometimes the documentation is insufficient and you may need to do a bit of digging to get definitions that
# you understand

<Strong>SEQN</Strong>: Respondent sequence number
<br>
<Strong>SDDSRVYR</Strong>: Represents the two-year data release cycle number.
<br>
<Strong>RIDSTATR</Strong>: Interview/Examination status
<br>
<Strong>RIAGENDR</Strong>: Gender (1 for male) (2 for female)
<br>
<Strong>RIDAGEYR</Strong>: Age in years at screening
<br>
<Strong>RIDRETH1</Strong>: Race/Hispanic origin

In [ ]:
# Write code to create a new dataframe named demov2_df with just the columns :
#     'SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1',

# Using DataFrame.copy() create new DaraFrame.
demov2_df = demo_df[['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1']].copy()
print(demov2_df)

           SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDRETH1
0      109263.0      66.0       2.0       1.0       2.0       5.0
1      109264.0      66.0       2.0       2.0      13.0       1.0
2      109265.0      66.0       2.0       1.0       2.0       3.0
3      109266.0      66.0       2.0       2.0      29.0       5.0
4      109267.0      66.0       1.0       2.0      21.0       2.0
...         ...       ...       ...       ...       ...       ...
15555  124818.0      66.0       2.0       1.0      40.0       4.0
15556  124819.0      66.0       2.0       1.0       2.0       4.0
15557  124820.0      66.0       2.0       2.0       7.0       3.0
15558  124821.0      66.0       2.0       1.0      63.0       4.0
15559  124822.0      66.0       2.0       1.0      74.0       2.0

[15560 rows x 6 columns]

In [ ]:
# How many missing values in the SEQN column ? RIDRETHI column ?
missing_seqn = demov2_df[demov2_df['SEQN'].isna()]
print("There is", missing_seqn.size, "values missing in SEQN")

missing_ridreth1 = demov2_df[demov2_df['RIDRETH1'].isna()]
print("There is", missing_ridreth1['RIDRETH1'].size, "values missing in RIDRETH1")

There is 0 values missing in SEQN
There is 0 values missing in RIDRETH1

In [ ]:
# Create two new dataframes
#      demo_adult with individuals with age 21 or greater
#      demo_child with ages less than 21
# Create a new DataFrame for adults (age >= 21)
demo_adult = demov2_df[demov2_df['RIDAGEYR'] >= 21.0]
demo_adult.reset_index(drop=True, inplace=True)

demo_child = demov2_df[demov2_df['RIDAGEYR'] < 21.0]
demo_child.reset_index(drop=True, inplace=True)

print(demo_adult, "\n")
print(demo_child)

          SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDRETH1
0     109266.0      66.0       2.0       2.0      29.0       5.0
1     109267.0      66.0       1.0       2.0      21.0       2.0
2     109271.0      66.0       2.0       1.0      49.0       3.0
3     109273.0      66.0       2.0       1.0      36.0       3.0
4     109274.0      66.0       2.0       1.0      68.0       5.0
...        ...       ...       ...       ...       ...       ...
9105  124815.0      66.0       2.0       1.0      52.0       4.0
9106  124817.0      66.0       2.0       2.0      67.0       1.0
9107  124818.0      66.0       2.0       1.0      40.0       4.0
9108  124821.0      66.0       2.0       1.0      63.0       4.0
9109  124822.0      66.0       2.0       1.0      74.0       2.0

[9110 rows x 6 columns]

          SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDRETH1
0     109263.0      66.0       2.0       1.0       2.0       5.0
1     109264.0      66.0       2.0       2.0      13.0       1.0
2     109265.0      66.0       2.0       1.0       2.0       3.0
3     109268.0      66.0       1.0       2.0      18.0       3.0
4     109269.0      66.0       2.0       1.0       2.0       2.0
...        ...       ...       ...       ...       ...       ...
6445  124804.0      66.0       2.0       1.0       1.0       3.0
6446  124806.0      66.0       2.0       2.0       4.0       4.0
6447  124816.0      66.0       2.0       1.0       1.0       1.0
6448  124819.0      66.0       2.0       1.0       2.0       4.0
6449  124820.0      66.0       2.0       2.0       7.0       3.0

[6450 rows x 6 columns]

In [ ]:
# what is the ratio of females/total in each of the above dataframes ?
female_total = demov2_df[demov2_df['RIAGENDR'] == 2.0]
female_total.reset_index(drop=True, inplace=True)

ratio_females = (female_total.size / demov2_df.size) * 100
print("The ratio of females/total is {:.2f}%".format(ratio_females))

The ratio of females/total is 50.38%